@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* 'Rubik', sans-serif; */
/*'Prata', serif*/
/*'Great Vibes', cursive*/
:root {
    --main-color: #261e1c;
    --orange-color: #c8693a;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: var(--main-color);
}


.product-content img {
    max-width: 200px;
    max-height: 200px;
}

.product-content section .card-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}


.product-content:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);

}

section .card-text {
    text-align: center;
}


.italian-wine,
.georgian-wine,
.tcp-wine {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
}

.shop-list {
    background-color: var(--main-color);

}


/* Controls */

.button {
    padding: 0px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--orange-color);
    font-size: 10px;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}