@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* 'Rubik', sans-serif; */
/*'Prata', serif*/
/*'Great Vibes', cursive*/
:root {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

.container {
    max-width: 980px;
    width: 100%;
}

.ita-wine .photo-wine {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    padding: 20;


}

@media(min-width: 980px) {
    .photo-wine {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.italicf {
    font-family: 'Great Vibes', cursive;
    color: rgb(200, 105, 58);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.discover-wines {
    font-family: 'Prata', serif;
    font-size: 58px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.subtext {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.italian-wines {
    max-width: 980px;
    margin: auto;
}

.italian-wines h3,
.georgian-wines h3,
.transcarpathian-wines h3 {
    font-family: 'Prata', serif;
    font-size: 34px;
    font-weight: 400;
    color: white;
    text-align: center;
}



.pinot-noir h4,
.riesling h4,
.zifandel h4,
.soave h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}


.menu-wines-shop {
    display: block;
    width: 980px;
}

.menu-wines-shop .button {
    display: flex;
    justify-content: space-around;
}

.price {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
}

button {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: rgb(200, 105, 58);

}

@media(min-width: 440px) {
    .menu-wines-shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media(min-width: 660px) {
    .menu-wines-shop {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media(min-width: 980px) {
    .menu-wines-shop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

grid-template-columns: 1fr 1fr 1fr 1fr;
}

}
}
}
}