@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* 'Rubik', sans-serif; */
/*'Prata', serif*/
/*'Great Vibes', cursive*/
:root {
    --main-color: white;
    --back-color: #261e1c;
    --orange-color: #c8693a;
    --black-color: black;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}


/* BACKGROUND*/

.buy-wines {
    background-image: url(../img/alback.jpg);
    background-position: center;
    background-size: cover;
    min-width: 980px;
    min-height: 400px;

}

/* BACKGROUND*/

.product-content img {
    max-width: 200px;
    max-height: 200px;
}

.product-content section .card-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}


.product-content:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
    transform: scale(1.1);

}

section .card-text {
    text-align: center;
}


.italian-wine,
.georgian-wine,
.tcp-wine {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
}

.shop-list {
    background-color: var(--back-color);

}

.buy-wines img {
    display: flex;
    margin-left: auto;
    margin-right: auto
}

.italicf {
    font-family: 'Great Vibes', cursive;
    font-size: 21px;
    font-weight: 400;
    color: rgb(200, 105, 58);
    text-align: center;
}

.buy-wines h2 {
    font-family: 'Prata', serif;
    font-size: 71px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.subtext {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.top-text h3 {
    font-family: 'Prata', serif;
    font-size: 41px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.product-content p {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: white;

}

.buy-wines .button {
    display: flex;
    margin-left: auto;
    margin-right: auto
}

/* Controls */

.button {
    padding: 0px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--orange-color);
    font-size: 15px;
    font-weight: 400;
    border-color: #c8693a;

}

.button:hover {
    color: #af5112;
    background-color: #af5112;
    cursor: pointer;
    border-color: #af5112;
    color: #FFFFFF;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}